In [11]:
import pandas as pd
import numpy as np

# Assuming 6 nodes and 10 seconds of data record
# Create a DataFrame with random numeric values
data = np.random.randint(0, 100, size=(10, 6))
columns = [
    "node1",
    "node2",
    "node3",
    "node4",
    "node5",
    "node6",
]  # Renaming the column names
df = pd.DataFrame(data, columns=columns)

In [12]:
df

   node1  node2  node3  node4  node5  node6
0     67     75     71      8     31     90
1     11     14     65     91      9     72
2     18     36     81     71     82     40
3     90     52     95     78     15      1
4     11     48     34     81     27     42
5      3     63     70     51     11     20
6     74     58      9     47     15     43
7     80     69     42     87     60     94
8     94      2     67     84     77      6
9     47     67     58     44     67     48

In [13]:
# Compute correlation matrix
correlation_matrix = df.corr()

In [14]:
correlation_matrix

          node1     node2     node3     node4     node5     node6
node1  1.000000  0.053036 -0.023677 -0.058835  0.227190 -0.086422
node2  0.053036  1.000000 -0.199178 -0.636687 -0.196869  0.380282
node3 -0.023677 -0.199178  1.000000  0.037277  0.141318 -0.312015
node4 -0.058835 -0.636687  0.037277  1.000000  0.124763 -0.243935
node5  0.227190 -0.196869  0.141318  0.124763  1.000000  0.009980
node6 -0.086422  0.380282 -0.312015 -0.243935  0.009980  1.000000

In [15]:
# Extract correlation coefficients
correlation_coefficients = correlation_matrix.values

In [16]:
correlation_coefficients

array([[ 1.        ,  0.05303553, -0.02367722, -0.05883521,  0.22719027,
        -0.08642184],
       [ 0.05303553,  1.        , -0.19917808, -0.63668687, -0.19686903,
         0.38028189],
       [-0.02367722, -0.19917808,  1.        ,  0.0372767 ,  0.14131756,
        -0.31201501],
       [-0.05883521, -0.63668687,  0.0372767 ,  1.        ,  0.1247635 ,
        -0.24393533],
       [ 0.22719027, -0.19686903,  0.14131756,  0.1247635 ,  1.        ,
         0.00998046],
       [-0.08642184,  0.38028189, -0.31201501, -0.24393533,  0.00998046,
         1.        ]])

In [17]:
# Compute overall correlation
overall_correlation = correlation_coefficients.mean()

In [18]:
overall_correlation

0.12312374017478585