In [20]:
import pandas as pd
import numpy as np

# Assuming 6 nodes and 10 seconds of data record
# Create a DataFrame with random numeric values
data = np.random.randint(0, 100, size=(10, 6))
columns = [
    "node1",
    "node2",
    "node3",
    "node4",
    "node5",
    "node6",
]  # Renaming the column names
df = pd.DataFrame(data, columns=columns)

In [21]:
df

   node1  node2  node3  node4  node5  node6
0     63     66     53     64     65     92
1     24     93     48     52     54     83
2     59     96     77     85     82     44
3     76     62     46     34     68     36
4     96     33     89     46     69     98
5     75     60     42     49      2     96
6      6      5     55     13     93     32
7     86     77     58     84     92     94
8     31     95     76     29     44     34
9      0     93     57     57     38     80

In [32]:
# standard deviation of the time series of the ith node
sigma_x_i = df.std()

In [23]:
sigma_x_i

node1    34.010456
node2    30.077677
node3    15.408872
node4    22.842699
node5    27.692959
node6    28.575242
dtype: float64

In [24]:
sum_sigma_x_i = sigma_x_i.sum()

In [25]:
sum_sigma_x_i

158.6079050395116

In [33]:
# sum of cwnds for all nodes at timestamp t.
x_tau = df.sum(axis=1)

In [27]:
x_tau

0    403
1    354
2    443
3    322
4    431
5    324
6    204
7    491
8    309
9    325
dtype: int64

In [34]:
# variance of the time series formed by x_tau.
sigma_x_tau_squared = x_tau.var()

In [29]:
sigma_x_tau_squared

6874.933333333333

In [35]:
# synchrony
phi = sigma_x_tau_squared / (sum_sigma_x_i**2)

In [31]:
phi

0.2732869120882079